PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/murtaza-rentacar?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here_make_it_long_and_random
JWT_EXPIRES_IN=7d

# Nodemailer (Gmail)
EMAIL_USER=youradmingmail@gmail.com
EMAIL_PASS=your_gmail_app_password
ADMIN_EMAIL=youradmingmail@gmail.com

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
